
<hr>
<div class="container" style="margin-left: 3rem;">
<div class="row">
    <div class="col-12">
        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe-image-legacy-id-1273477_8-ad36e3b.jpg?quality=90&webp=true" style="height: 100px;" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-12">
       <h1>Recipe Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="btn-gropu">
         <button 
             type="button" 
             class="btn btn-primary dropdown-toggle">
             Manage Recipe <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
             <li><a href="#">Add To List</a></li>
             <li><a href="#">Edit Recipe</a></li>
             <li><a href="#">Delete Recipe</a></li>
         </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        Description
    </div>
</div>

<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>
</div>